<div>
  <dl>
    <li>
      <label>卡牌名称:</label>
      <input [(ngModel)]="card.name" />
    </li>
    <li>
      <label>消耗水晶:</label>
      <input [(ngModel)]="card.expense" />
    </li>
    <li>
      <label>攻击力:</label>
      <input [(ngModel)]="card.attack" />
    </li>
    <li>
      <label>生命值:</label>
      <input [(ngModel)]="card.healthPoint" />
    </li>
    <li>
      <label>图片链接:</label>
      <input [(ngModel)]="card.imgPath" />
    </li>
  </dl>

  <button (click)="add()">
    添加
  </button>
</div>