/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(/assets/picture/body-background.jpg);
    /* background-size: 100%; */
    position: relative;
    left: 50px;
    right: 50px;
}